on enable-low-power
# Disable SELinux for now
	write /sys/fs/selinux/enforce 0

# VM tuning
	write /proc/sys/vm/dirty_background_ratio 20
	write /proc/sys/vm/dirty_expire_centisecs 200
	write /proc/sys/vm/dirty_ratio 40
	write /proc/sys/vm/swappiness 0
	write /proc/sys/vm/vfs_cache_pressure 100

# Use Bootscripts from Franco Kernel
    exec u:r:init:s0 root root -- /init.supolicy.sh
    exec u:r:init:s0 root root -- /init.special_power.sh
    exec u:r:supersu:s0 root root -- /init.supolicy.sh
    exec u:r:supersu:s0 root root -- /init.special_power.sh

    
on property:sys.boot_completed=1
    trigger enable-low-power
    

on property:init.svc.recovery=running
    trigger enable-low-power
